<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>Title</title>
</head>
<body>
<h1> Data </h1>


{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <h2>{{ message }}</h2>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


<button onclick="testButton()"> Knapp</button>

<p id="test"></p>


<form action="{{ url_for('submit_data') }}" method="post" id="person_form">
    <label for="height">Height</label>
    <input type="text" id="height" name="height"><br/>
    <label for="weight">Weight</label>
    <input type="text" id="weight" name="weight"><br/>
    <input type="radio" id="male" name="gender" value="Male" checked>
    <label for="male">Male</label>
    <input type="radio" id="female" name="gender" value="Female">
    <label for="female">Female</label>
    <input type="submit" value="Submit data">
</form>

<table style="width:100%">
  <tr>
    <th>Height Cm</th>
    <th>Weight Kg</th>
    <th>Size</th>
  </tr>
  <tr>
      {% for person in persons %}
    <td>{{ person.height }}</td>
    <td>{{ person.weight }}</td>
    <td>{{ person.size }}</td>
      <tr></tr>
      {% endfor %}
  </tr>
</table>

<div>
  <canvas id="myChart"></canvas>
</div>

<script>
      var myVar = '{{ myVar }}';
      document.getElementById('test').innerText = myVar
      myVar = parseInt(myVar)
      console.log(typeof myVar)
</script>




</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/static/js_scripts.js"></script>
<script src="/static/requestServer.js"></script>


</html>